@import "../../vars.css";

@font-face {
    font-family: 'HagridRegular';
    src: url('../../../assets/fonts/hagrid_regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../../../assets/fonts/raleway.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TanMeringue';
    src: url('../../../assets/fonts/tan_meringue.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.container {
    position: relative;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 0;
    padding: 60px;
    margin-top: 110px;
    z-index: 1;
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    color: black;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    z-index: 1;
    letter-spacing: 1.75px;
    text-transform: lowercase;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 1;
    width: 100%;
    justify-content: center;
}

.aboutImage {
    width: 27%; 
    z-index: 1;
    border-radius: 50%;
    margin-right: 65px;
}

.textGroup {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    gap: 10px;
    max-width: 600px;
}

.aboutItem {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    padding: 25px;
    letter-spacing: 0.75px;
    color: black;
    line-height: 1.6;
    font-size: 16px;
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: 0.4s;
    z-index: 1;
}

.aboutItem:hover {
    background-size: 100% 100%;
}

.aboutItem h3 {
    font-size: 25px;
    font-weight: 600;
}

.aboutItem p {
    font-size: 25px;
}

/* .topBlur {
    position: absolute;
    width: 50vw;
    height: 50vw;
    min-width: 350px;
    min-height: 350px;
    top: 56px;
    left: -20vw;
    border-radius: 764px;
    background: rgba(25, 55, 109, 0.6);
    filter: blur(100px);
    z-index: 0;
}

.bottomBlur {
    position: absolute;
    width: 70vw;
    height: 50vw;
    min-width: 250px;
    min-height: 350px;
    top: 100px;
    right: -25vw;
    border-radius: 764px;
    background: rgba(25, 55, 109, 0.6);
    filter: blur(100px);
    z-index: 0;
} */

@media screen and (max-width: 830px) {
    .container {
        background-color: transparent;
        padding-left: 0;
        padding-right: 0;
    }

    .content {
        flex-direction: column;
    }

    .aboutImage {
        display: none;
    }

    .aboutItems {
        margin-top: 29px;
    }

    .aboutItem {
        padding-left: 0;
        padding-right: 0;
    }
}
