@import "../../vars.css";

@font-face {
    font-family: 'HagridRegular';
    src: url('../../../assets/fonts/hagrid_regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../../../assets/fonts/raleway.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TanMeringue';
    src: url('../../../assets/fonts/tan_meringue.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.container {
    position: relative;
    /* background-color: rgba(12, 12, 12, 0.2); */
    /* background-color: rgba(227, 227, 227, 0.887); */
    background-color: transparent;
    border: 2px solid rgba(241, 241, 241, 0.9);
    /* border-radius: 15px; */
    border-radius: 0px;
    padding: 60px;
    margin-top: 110px;
    z-index: 1;
    margin-left: 15%;
    margin-right: 15%;
}

.title {
    /* color: #506285; */
    color: black;
    font-size: 36px;
    font-weight: 700;
    /* font-family: 'TanMeringue', sans-serif; */
    /* text-align: center; */
    text-align: left;
    z-index: 1;
    letter-spacing: 1.75px;
    text-transform: lowercase;
    margin-bottom: 35px;
    margin-left: 15px;
}

.jobTitle {
    padding: 5px 10px; 
    /* font-family: 'HagridRegular', sans-serif; */
    /* color: #333; */
    color: black;
    font-size: 24px;
    transition: background-color 0.3s ease;
    border-radius: 8px;
    margin-bottom: 5px;
    z-index: 1;
}

.jobTitle:hover {
    background-color: rgba(54, 54, 54, 0.1); /* Darker background on hover */
}

.location {
    margin-top: 15px;
}

/* .topBlur {
    position: absolute;
    width: 50vw;
    height: 50vw;
    min-width: 350px;
    min-height: 350px;
    top: 70px;
    left: -30vw;
    border-radius: 764px;
    background: rgba(25, 55, 109, 0.35);
    filter: blur(100px);
    z-index: 0;
}

.bottomBlur {
    position: absolute;
    width: 70vw;
    height: 50vw;
    min-width: 250px;
    min-height: 350px;
    top: 400px;
    right: -25vw;
    border-radius: 764px;
    background: rgba(25, 55, 109, 0.35);
    filter: blur(100px);
    z-index: 0;
} */