@import "../../vars.css";

@font-face {
    font-family: 'HagridRegular';
    src: url('../../../assets/fonts/hagrid_regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../../../assets/fonts/raleway.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TanMeringue';
    src: url('../../../assets/fonts/tan_meringue.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.container {
    position: relative;
    background-color: rgba(12, 12, 12, 0.25);
    border-radius: 15px;
    padding: 60px;
    margin-top: 110px;
    z-index: 1;
    margin-left: 15%;
    margin-right: 15%;
}

.title {
    color: white;
    font-size: 40px;
    font-weight: 700;
    font-family: 'TanMeringue', sans-serif;
    text-align: center;
    z-index: 1;
    letter-spacing: 1.75px;
    text-transform: lowercase;
    margin-bottom: 35px;
}

.jobTitle {
    padding: 5px 10px; 
    font-family: 'HagridRegular', sans-serif;
    color: #333;
    font-size: 24px;
    transition: background-color 0.3s ease;
    border-radius: 8px;
    margin-bottom: 5px;
    z-index: 1;
}

.jobTitle:hover {
    background-color: rgba(25, 55, 109, 0.1); /* Darker background on hover */
}

.location {
    position: relative;
    margin-top: 15px;
    z-index: 1;
}

.description {
    position: relative;
    z-index: 1;
}

.topBlur {
    position: absolute;
    width: 70vw;
    height: 50vw;
    min-width: 350px;
    min-height: 350px;
    top: 10px;
    left: -30vw;
    border-radius: 764px;
    background: rgba(25, 55, 109, 0.6);
    filter: blur(100px);
    z-index: 0;
}

.bottomBlur {
    position: absolute;
    width: 60vw;
    height: 70vw;
    min-width: 250px;
    min-height: 350px;
    top: 300px;
    right: -25vw;
    border-radius: 764px;
    background: rgba(25, 55, 109, 0.6);
    filter: blur(100px);
    z-index: 0;
}